#Container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & section {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
}
